{% extends 'shop/basic.html' %}

{% block title %}  about us {% endblock %}




{% block body %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">OnlineShoping.com</h1>
        <p>
          OnlineShoping.com is an Indian e-commerce company based in Varanasi ,India. It was founded by<b> RAVI KUMAR MISHRA </b>in 2020. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal. As of March 2021, My Awesome Cart held a 39.5% market share of India's e-commerce industry.My Awesome Cart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisition of Myntra), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. My Awesome Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Ravi Kumar Mishra</h2>
          <p>I am Python developer and doing <b> b.tech from REC Kannuj </b>. i liked to work on Django framework .so i mostly use python language. and i used  Bootstrap for create Responsive page so i used this website on any device .</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Divya Garg</h2>
          <p>She is a web designer and doing <b> b.tech from  MITRC jaipur Rajsthan </b>.she liked to work with Javascript and jquery.so this website is created dynamic webpage by the help of Javascript and jquery. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Aditi tiwari</h2>
          <p>She is full stack web designer and doing  <b> b.tech from Rising instiute of NEW JERSI from US </b>. she used HTML ,CSS  for the web designing of OnlineShopping.com </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>



{% endblock %}